/**************************************

Different types of sytex for selctors

element selector:

***************************************/
body{
    margin: 0;
    padding: 0;
}
/**************************************

multiple element selectors:
- if you have the same rules for multiple element selctors you may group the selectors as a comma seperated list
the group may be coded on one physical line or over multiple lines

***************************************/
h1, h2, 
h3, 
h4,
p{
    margin: 0;
    padding: 0;
}

/**************************************

- if you repeat the element selector in your css file, any additional rules are compiled with previously specified rules.
- if you re-code a previously specified rule then the new rule overrides the previous rule
"last rule wins"

***************************************/

body{
    font-family: Verdana;
    color:#111;
}

/**************************************

decendant selectors:

- a decendant selector is a set of element selectors when used in your html, follow immediately, one after another
- the decendant selector has two or more element selectors 
- this can be used to isolate a particular selector from the other occurances of the term selector on the page 

***************************************/

footer ul{
    background-color: #ddd;
}

footer{
    padding: 40px;
    background-color: #666;
    border: 1px solid magenta;
}

/**************************************

child selectors:

- a child selector is a set of element selectors when used in your html follow one after another
- the selector order is "parent" through "child"
- this can be used to isolate a particular selector from the other occurances of the term selector on the page 

***************************************/

main p{
    font-style: italic;
}

h1{
    padding: 48px;
    color: #696969;
    border-bottom: 1px solid cornflowerblue;
}

section{
    font-family:Arial;
    width: 800px;
    margin: 40px;
}

/**************************************

class selectors:

types: user (targeted) class
       psuedo classes, these are atatched to elements 

a user class is a user-defined name 
syntax: .user-name {rules}

on html: a class is specified within a html tag
syntax: <tag class="user-name">

you can have mutliple classes on one html tag 
NOTE: the list does NOT use a seperating comma

syntax: <tag class="user-name1 user-name2 ...>
***************************************/

.menu-items{
    font-family: Courier, sans-serif;
    list-style-type: none;
    width: 600px;
    padding: 24px;
    border-left: 5px solid purple;
    background-color: plum;
    margin: 24px;
}

/**************************************

not all html elements have pre-coded psuedo classes
- the anchor tag has 4 pre-coded psuedo classes
- the order in which the anchor tag psuedo classes are specified within your cssis important
when you override the psuedo class you are overriding the defaults of the class
order: 
a:link - unused anchor link
a:hover - used when your cursor hovers over the anchor
a:visited - used after you have gone to the anchor link 
a:active - used when you are clicking the anchor link 

***************************************/

footer a:hover{
    font-size: larger;
    color: hotpink;
}